<footer>
    <div class="contenedor-general-footer">
        <div class="contenedor-informacion-footer">
            <h5>INFORMACION</h5>
            <ul class="contenedor-lista-de-informacion">
                <li><a href="/">Inicio</a></li>
                <li><a href="/contacto">Contacto</a></li>
                <li><a href="/terminos">Terminos y Condiciones</a></li>
                <li><a href="#">Preguntas Frecuentes</a></li>
                <li><a href="#">Boton de arrepentimiento</a></li>
            </ul>
        </div>

        <div class="contenedor-redes">
            <h5>REDES SOCIALES</h5>
            <div class="contenedor-padre-footer-iconos-redes-sociales">
                <div class="contenedor-icono-instagram">
                    <a href="#">
                        <i class="fab fa-instagram"></i>
                    </a>
                </div>
                <div class="contenedor-icono-facebook">
                    <a href="#">
                        <i class="fab fa-facebook-square"></i>
                    </a>
                </div>
                <div class="contenedor-icono-youtube">
                    <a href="#">
                        <i class="fab fa-youtube"></i>
                    </a>
                </div>
                <div class="contenedor-icono-twitter">
                    <a href="#">
                        <i class="fab fa-twitter"></i>
                    </a>
                </div>
                <div class="contenedor-icono-likedin">
                    <a href="#">
                        <i class="fab fa-linkedin"></i>
                    </a>
                </div>
            </div>
        </div> 

        <div class="contenedor-donde-estamos">
            <h5>DONDE ESTAMOS?</h5>
            <p>Av. Monroe 860, C1428 CABA</p>
            <p>Lunes a Viernes de 10:00 a 18:00hs</p>
            <div class="contenedor-icono-direccion-email">
                <i class="fas fa-envelope"></i>
                <a class="" href="mailto:info@argenthardware.com.ar">info@argenthardware.com.ar</a>
            </div>
            <div class="contenedor-google-maps">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3286.186535353012!2d-58.44585618423017!3d-34.548832162104134!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb436efe09303%3A0xfb39818e7624ac76!2sDigital%20House!5e0!3m2!1ses!2sar!4v1654060588210!5m2!1ses!2sar" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>

        <div class="contenedor-newsletter">
            <h5>NEWSLETTER</h5>
            <p>Recibi ofertas en tu email</p>
            <form>
                <input type="text" placeholder="Nombre" name="nombre">
                <input type="email" placeholder="E-mail" name="email" required>
            </form>
            <div class="contenedor-boton-para-enviar">
                <button onclick="alert('Gracias por suscribirte')">SUSCRIBIRME</button>
            </div>
            
        </div>
    </div>
    <h4 class="derechos-reservados-footer">© 2022 ARGENT HARDWARE - Todos los derechos reservados.</h4>
</footer>