<footer>
    <div class="contenedor-general-footer">
        <div class="contenedor-informacion-footer">
            <h5>INFORMACION</h5>
            <ul class="contenedor-lista-de-informacion">
                <li><a href="/">Inicio</a></li>
                <li><a href="#">Contacto</a></li>
                <li><a href="#">Terminos y Condiciones</a></li>
                <li><a href="#">Preguntas Frecuentes</a></li>
                <li><a href="#">Boton de arrepentimiento</a></li>
            </ul>
        </div>

        <div class="contenedor-redes">
            <h5>REDES SOCIALES</h5>
            <div class="contenedor-padre-footer-iconos-redes-sociales">
                <div class="contenedor-icono-instagram">
                    <a href="#">
                        <i class="fab fa-instagram"></i>
                    </a>
                </div>
                <div class="contenedor-icono-facebook">
                    <a href="#">
                        <i class="fab fa-facebook-square"></i>
                    </a>
                </div>
                <div class="contenedor-icono-youtube">
                    <a href="#">
                        <i class="fab fa-youtube"></i>
                    </a>
                </div>
                <div class="contenedor-icono-twitter">
                    <a href="#">
                        <i class="fab fa-twitter"></i>
                    </a>
                </div>
                <div class="contenedor-icono-likedin">
                    <a href="#">
                        <i class="fab fa-linkedin"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="contenedor-donde-estamos">
            <h5>DONDE ESTAMOS?</h5>
            <p>Av. Calle Falsa 123, CABA</p>
            <p>Lunes a Viernes de 10:00 a 18:00hs</p>
            <div class="contenedor-icono-direccion-email">
                <i class="fas fa-envelope"></i>
                <a class="" href="mailto:info@argenthardware.com.ar">info@argenthardware.com.ar</a>
            </div>
        </div>

        <div class="contenedor-newsletter">
            <h5>NEWSLETTER</h5>
            <p>Recibi ofertas en tu email</p>
            <form>
                <input type="text" placeholder="Nombre" name="nombre">
                <input type="email" placeholder="E-mail" name="email" required>
            </form>
            <div class="contenedor-boton-para-enviar">
                <button>SUSCRIBIRME</button>
            </div>
            
        </div>
    </div>
    <h4>© 2022 ARGENT HARDWARE - Todos los derechos reservados.</h4>
</footer>