<header>
    <div class="contenedor-padre-header">
        <div class="contenedor-icono-de-menu">
            <i class="fas fa-bars"></i>
        </div>

        <div class="contenedor-logo-empresa">
            <a href="/"><img src="/img/logo_empresa_1.svg"></a>
        </div>

        <div class="contenedor-header-derecho">
            <a href="#"><i class="fas fa-search"></i></a>
            <a href="/login"><i class="fas fa-sign-in-alt"></i></a>
            <a href="/register"><i class="fa fa-solid fa-user"></i></a>
            <a href="/productCart"><i class="fas fa-shopping-cart"></i></a>
        </div>
    </div>
</header>