<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <script src="/js/javaS.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>ARGENT HARDWARE</title>
</head>
<body>
    <header>
        <div class="icono-menu-y-logo">
            <div class="icono-menu">
                <i class="fa fa-bars burger"></i>
            </div>
            <div class="logo-empresa">
                <img src="img/logo_empresa_1.svg" alt="Logo Empresa" class="logo">
            </div>
        </div>

        <div class="header-derecho">
            <div class="icono-usuario-header">
                <i class="fa fa-solid fa-user"></i>
            </div>

            <div class="icono-busqueda">
                <i class="fas fa-search"></i>
            </div>

            <div class="carrito-de-compras">
                <i class="fas fa-shopping-cart"></i>
            </div>
        </div>
    </header>
    <div class="div-para-boton-oscuro">
        <div class="boton-para-modo-oscuro">Modo Oscuro</div>
    </div>
    <div class="div-para-boton-volver-listado">
        <div class="boton-volver">
            <i class="fas fa-angle-left"></i>
        </div>
    </div>

    <main>        

    <section class="contenedor-section-principal">   
        <h2>PC GAMERS</h2>
        <div class="contenedor-articulos-principales">
                
            <a class="anchorProducto" href="/detailProduct.html"><article class="contenedor-producto-imagen-descripcion">            
                    <img src="img/PC_GAMER/pc_gamer_1.png" alt="PC ESCRITORIO">
                    <div class="contendor-descripcion">
                    <h3 class="description">PC GAMER INTEL</h3>
                    <p class="price">$100.000</p>
                    <p class="discount">12 cuotas de $10.000</p>
                    </div>                              
                </article></a>

                <a class="anchorProducto" href="/detailProduct.html"><article class="contenedor-producto-imagen-descripcion">            
                    <img src="img/PC_GAMER/pc_gamer_2.png" alt="PC ESCRITORIO">
                    <div class="contendor-descripcion">
                    <h3 class="description">PC GAMER AMD</h3>
                    <p class="price">$200.000</p>
                    <p class="discount">12 cuotas de $20.000</p>
                    </div>                        
                </article></a>

                <a class="anchorProducto" href="/detailProduct.html"><article class="contenedor-producto-imagen-descripcion">            
                    <img src="img/PC_GAMER/pc_gamer_3.png" alt="PC ESCRITORIO">
                    <div class="contendor-descripcion">
                    <h3 class="description">PC GAMER AMD</h3>
                    <p class="price">$300.000</p>
                    <p class="discount">12 cuotas de $30.000</p>
                    </div>                        
                </article></a>


                <a class="anchorProducto" href="/detailProduct.html"><article class="contenedor-producto-imagen-descripcion">            
                    <img src="img/PC_GAMER/pc_gamer_4.png" alt="PC ESCRITORIO">
                    <div class="contendor-descripcion">
                    <h3 class="description">PC GAMER INTEL</h3>
                    <p class="price">$400.000</p>
                    <p class="discount">12 cuotas de $40.000</p>
                    </div>                        
                </article></a>
        </div>
    </section>

    <section class="contenedor-section-principal">   
        <h2>NOTEBOOKS</h2>
        <div class="contenedor-articulos-principales">
                <a class="anchorProducto" href="/detailProduct.html"><article class="contenedor-producto-imagen-descripcion">            
                    <img src="img/notebooks/notebook_prueba_1.png" alt="PC ESCRITORIO">
                    <div class="contendor-descripcion">
                    <h3 class="description">NOTEBOOK OFICINA</h3>
                    <p class="price">$100.000</p>
                    <p class="discount">12 cuotas de $10.000</p>
                    </div>                              
                </article></a>

                <a class="anchorProducto" href="/detailProduct.html"><article class="contenedor-producto-imagen-descripcion">            
                    <img src="img/notebooks/notebook_prueba_2.jpg" alt="PC ESCRITORIO">
                    <div class="contendor-descripcion">
                    <h3 class="description">NOTEBOOK OFICINA</h3>
                    <p class="price">$200.000</p>
                    <p class="discount">12 cuotas de $20.000</p>
                    </div>                        
                </article></a>

                <a class="anchorProducto" href="/detailProduct.html"><article class="contenedor-producto-imagen-descripcion">            
                    <img src="img/notebooks/notebook_prueba_3.png" alt="PC ESCRITORIO">
                    <div class="contendor-descripcion">
                    <h3 class="description">NOTEBOOK DISEÑO</h3>
                    <p class="price">$300.000</p>
                    <p class="discount">12 cuotas de $30.000</p>
                    </div>                        
                </article></a>


                <a class="anchorProducto" href="/detailProduct.html"><article class="contenedor-producto-imagen-descripcion">            
                    <img src="img/notebooks/notebook_prueba_4.png" alt="PC ESCRITORIO">
                    <div class="contendor-descripcion">
                    <h3 class="description">NOTEBOOK GAMING</h3>
                    <p class="price">$400.000</p>
                    <p class="discount">12 cuotas de $40.000</p>
                    </div>                        
                </article></a>
        </div>
    </section>

    <section class="contenedor-section-principal">   
        <h2>COMPONENTES</h2>
        <div class="contenedor-articulos-principales">
                <a class="anchorProducto" href="/detailProduct.html"><article class="contenedor-producto-imagen-descripcion">            
                    <img src="img/hardware/hardware_ryzen9_1.png" alt="PC ESCRITORIO">
                    <div class="contendor-descripcion">
                    <h3 class="description">CPU AMD RYZEN 9</h3>
                    <p class="price">$100.000</p>
                    <p class="discount">12 cuotas de $10.000</p>
                    </div>                              
                </article></a>

                <a class="anchorProducto" href="/detailProduct.html"><article class="contenedor-producto-imagen-descripcion">            
                    <img src="img/hardware/mb_x570_1.png" alt="PC ESCRITORIO">
                    <div class="contendor-descripcion">
                    <h3 class="description">MOTHERBOARD X570</h3>
                    <p class="price">$200.000</p>
                    <p class="discount">12 cuotas de $20.000</p>
                    </div>                        
                </article></a>

                <a class="anchorProducto" href="/detailProduct.html"><article class="contenedor-producto-imagen-descripcion">            
                    <img src="img/hardware/RAM_1.png" alt="PC ESCRITORIO">
                    <div class="contendor-descripcion">
                    <h3 class="description">RAM DDR4 AORUS</h3>
                    <p class="price">$300.000</p>
                    <p class="discount">12 cuotas de $30.000</p>
                    </div>                        
                </article></a>


                <a class="anchorProducto" href="/detailProduct.html"><article class="contenedor-producto-imagen-descripcion">            
                    <img src="img/hardware/GPU_1.png" alt="PC ESCRITORIO">
                    <div class="contendor-descripcion">
                    <h3 class="description">GPU NVIDIA RTX 3090</h3>
                    <p class="price">$400.000</p>
                    <p class="discount">12 cuotas de $40.000</p>
                    </div>                        
                </article></a>
        </div>
    </section>

    </main>
        
    <footer>
        <div class="contenedor-general-footer">
            <div class="contenedor-informacion-footer">
                <h5>INFORMACION</h5>
                <ul class="contenedor-lista-de-informacion">
                    <li><a href="/">Inicio</a></li>
                    <li><a href="#">Contacto</a></li>
                    <li><a href="#">Terminos y Condiciones</a></li>
                    <li><a href="#">Preguntas Frecuentes</a></li>
                    <li><a href="#">Boton de arrepentimiento</a></li>
                </ul>
            </div>

            <div class="contenedor-redes">
                <h5>REDES SOCIALES</h5>
                <div class="contenedor-iconos-redes-sociales">
                    <div class="contenedor-icono-instagram">
                        <i class="fab fa-instagram"></i>
                    </div>
                    <div class="contenedor-icono-facebook">
                        <i class="fab fa-facebook-square"></i>
                    </div>
                    <div class="contenedor-icono-youtube">
                        <i class="fab fa-youtube"></i>
                    </div>
                </div>
            </div>

            <div class="contenedor-donde-estamos">
                <h5>DONDE ESTAMOS?</h5>
                <p>Av. Calle Falsa 123, CABA</p>
                <p>Lunes a Viernes de 10:00 a 18:00hs</p>
                <div class="contenedor-icono-direccion-email">
                    <i class="fas fa-envelope"></i>
                    <a class="" href="mailto:info@argenthardware.com.ar">info@argenthardware.com.ar</a>
                </div>
            </div>

            <div class="contenedor-newsletter">
                <h5>NEWSLETTER</h5>
                <p>Recibi ofertas en tu email</p>
                <form>
                    <input type="text" placeholder="Nombre" name="nombre">
                    <input type="email" placeholder="E-mail" name="email" required>
                </form>
                <div class="contenedor-boton-para-enviar">
                    <button>SUSCRIBIRME</button>
                </div>
                
            </div>
        </div>
        <h4>© 2022 ARGENT HARDWARE - Todos los derechos reservados.</h4>
    </footer>
    
    
</body>
</html>