<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <script src="/js/javaS.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <title>ARGENT HARDWARE</title>

    </head>
    <body>
        <header>
            <div class="contenedor-padre-header">
                <div class="contenedor-icono-de-menu">
                    <i class="fas fa-bars"></i>
                </div>
        
                <div class="contenedor-logo-empresa">
                    <img src="img/logo_empresa_1.svg">
                </div>
        
                <div class="contenedor-header-derecho">
                    <a href="#"><i class="fas fa-search"></i></a>
                    <a href="login.html"><i class="fas fa-sign-in-alt"></i></a>
                    <a href="register.html"><i class="fa fa-solid fa-user"></i></a>
                    <a href="#"><i class="fas fa-shopping-cart"></i></a>
                </div>
            </div>
        </header>
        
        
           
        <main class="login">
                        
            <div class="formulario">
            <form action="/" method="POST">
                <h2 class="acceso-clientes">ACCESO CLIENTES</h2> 
                <br>
                <h4 class="correo">CORREO ELECTRONICO</h4>
                <input type="text" name="user">
                <br>
                <h4 class="contraseña">CONTRASEÑA</h4>
                <input type="password" name="pass">
                <br>
                <input type="submit" value="INGRESAR">
                <br>
                <br>
                <label for="recuerdo">Recordar mi Contraseña</label>
                <input type="checkbox" name="recuerdo">
                <br>
                <br>
                <a class="olvidaste" href="#">OLVIDASTE TU CONTRASEÑA</a>
                <br>
                <br>
                <br>
                <a class="Registro" href="/register">Registrar nueva Cuenta</a>
                <br>
                <br>
                <br>
                <a class="Facebook" href="#">  <i class="fa-brands fa-facebook"></i>   Continuar con Facebook</a>
               
                <br>
                <br>
                <br>
                <a class="Google" href="#">Continuar con Google+</a>
                
            </form>
            <div>
        </main>
        <footer>
            <div class="contenedor-general-footer">
                <div class="contenedor-informacion-footer">
                    <h5>INFORMACION</h5>
                    <ul class="contenedor-lista-de-informacion">
                        <li><a href="/">Inicio</a></li>
                        <li><a href="#">Contacto</a></li>
                        <li><a href="#">Terminos y Condiciones</a></li>
                        <li><a href="#">Preguntas Frecuentes</a></li>
                        <li><a href="#">Boton de arrepentimiento</a></li>
                    </ul>
                </div>

                <div class="contenedor-redes">
                    <h5>REDES SOCIALES</h5>
                    <div class="contenedor-padre-footer-iconos-redes-sociales">
                        <div class="contenedor-icono-instagram">
                            <a href="#">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </div>
                        <div class="contenedor-icono-facebook">
                            <a href="#">
                                <i class="fab fa-facebook-square"></i>
                            </a>
                        </div>
                        <div class="contenedor-icono-youtube">
                            <a href="#">
                                <i class="fab fa-youtube"></i>
                            </a>
                        </div>
                        <div class="contenedor-icono-twitter">
                            <a href="#">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </div>
                        <div class="contenedor-icono-likedin">
                            <a href="#">
                                <i class="fab fa-linkedin"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="contenedor-donde-estamos">
                    <h5>DONDE ESTAMOS?</h5>
                    <p>Av. Calle Falsa 123, CABA</p>
                    <p>Lunes a Viernes de 10:00 a 18:00hs</p>
                    <div class="contenedor-icono-direccion-email">
                        <i class="fas fa-envelope"></i>
                        <a class="" href="mailto:info@argenthardware.com.ar">info@argenthardware.com.ar</a>
                    </div>
                </div>

                <div class="contenedor-newsletter">
                    <h5>NEWSLETTER</h5>
                    <p>Recibi ofertas en tu email</p>
                    <form>
                        <input type="text" placeholder="Nombre" name="nombre">
                        <input type="email" placeholder="E-mail" name="email" required>
                    </form>
                    <div class="contenedor-boton-para-enviar">
                        <button>SUSCRIBIRME</button>
                    </div>
                    
                </div>
            </div>
            <h4>© 2022 ARGENT HARDWARE - Todos los derechos reservados.</h4>
        </footer>
    </body>
</html>