<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <script src="/js/javaS.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>ARGENT HARDWARE</title>
</head>
<body class="bodyCarrito">
    <header>
        <div class="menuDesplegable">
            <!-- Menu desplegable -->
            <span class="nav-bar" id="btnMenu"><i class="fas fa-bars"></i></span>
            <nav class="main-nav">
                <ul class="menu" id="menu">
                    <li class="menu__item"><a href="" class="menu__link">DESKTOP</a></li>
                    <li class="menu__item"><a href="" class="menu__link">GAMING</a></li>
                    <li class="menu__item container-submenu">
                        <a href="#" class="menu__link submenu-btn">HADWARE CONSUMO<i class="fas fa-chevron-down"></i></a>
                        <ul class="submenu">
                            <li class="menu__item"><a href="" class="menu__link">Procesadores</a></li>
                            <li class="menu__item"><a href="" class="menu__link">Memorias</a></li>
                            <li class="menu__item"><a href="" class="menu__link">Discos Sólidos</a></li>
                            <li class="menu__item"><a href="" class="menu__link">Tarjetas Gráficas</a></li>
                        </ul>
                    </li>
                    <li class="menu__item"><a href="" class="menu__link">Servicio Técnico</a></li>        
                </ul>
            </nav>
            <script src="/js/menu.js"></script>   
          </div>
        </div>

        <div class="logo-empresa">
            <img src="img/AGLogo.png" alt="Logo de MercadoLiebre" class="logo">
        </div>
        

        <div class="header-derecho">
            

            <input type="text" id="barraB" placeholder="Ingrese su búsqueda" />
            <div class="icono-busqueda">
            <button class="toggle-btn" onclick="mostrar()"><i class="fas fa-search"></i></button>
            </div>           
            
            
            <div class="icono-usuario-header">
                <i class="fa fa-solid fa-user"></i>
            </div>

            <div class="carrito-de-compras">
                <i class="fas fa-shopping-cart"></i>
            </div>
        </div>
    </header>
    <div class="div-para-boton-oscuro">
        <div class="boton-para-modo-oscuro">Modo Oscuro</div>
    </div>
    <div class="div-para-boton-volver-listado">
        <div class="boton-volver">
            <i class="fas fa-angle-left"></i>
        </div>
    </div>

    <main>
        <section class="carritoCompra">
        
        <h1>Carrito de Compras</h1>

        <h2>Descripción de tu Pedido</h2>
        
        <div class="contCarritoPadre">
        <div class="contArticles">
        <article class="productoCarrito">
            <div class="imagenCarrito">
                <img src="img/DESKTOP/pc1.jpg" alt="">
            </div>
    
        <div class="descripcionCarrito">
            <h3 class="nombreProducto">Nombre Producto</h3>
            <p class="precio">$$</p>
        <div class="agregarQuitar">
            <label>Cantidad:</label>
            <div class="cantidadButtons">
            <input type="text" name="cantidad" id="cantidad" value="1"/>
            <div class="sumarRestar">
               <button><i class="fas fa-angle-up"></i></button>
               <button><i class="fas fa-angle-down"></i></button>
            </div>            
            <button><i class="fas fa-trash"></i></button>
            </div>
        </div>
        </article>

        <article class="productoCarrito">
            <div class="imagenCarrito">
                <img src="img/DESKTOP/pc1.jpg" alt="">
            </div>
    
        <div class="descripcionCarrito">
            <h3 class="nombreProducto">Nombre Producto</h3>
            <p class="precio">$$</p>
        <div class="agregarQuitar">
            <label>Cantidad:</label>
            <div class="cantidadButtons">
            <input type="text" name="cantidad" id="cantidad" value="1"/>
            <div class="sumarRestar">
               <button><i class="fas fa-angle-up"></i></button>
               <button><i class="fas fa-angle-down"></i></button>
            </div>            
            <button><i class="fas fa-trash"></i></button>
            </div>
        </div>
        </article>
    
    
        <article class="productoCarrito">
            <div class="imagenCarrito">
                <img src="img/DESKTOP/pc1.jpg" alt="">
            </div>
    
        <div class="descripcionCarrito">
            <h3 class="nombreProducto">Nombre Producto</h3>
            <p class="precio">$$</p>
        <div class="agregarQuitar">
            <label>Cantidad:</label>
            <div class="cantidadButtons">
            <input type="text" name="cantidad" id="cantidad" value="1"/>
            <div class="sumarRestar">
               <button><i class="fas fa-angle-up"></i></button>
               <button><i class="fas fa-angle-down"></i></button>
            </div>            
            <button><i class="fas fa-trash"></i></button>
            </div>
        </div>
        </article>
    
    
        <article class="productoCarrito">
            <div class="imagenCarrito">
                <img src="img/DESKTOP/pc1.jpg" alt="">
            </div>
    
        <div class="descripcionCarrito">
            <h3 class="nombreProducto">Nombre Producto</h3>
            <p class="precio">$$</p>
        <div class="agregarQuitar">
            <label>Cantidad:</label>
            <div class="cantidadButtons">
            <input type="text" name="cantidad" id="cantidad" value="1"/>
            <div class="sumarRestar">
               <button><i class="fas fa-angle-up"></i></button>
               <button><i class="fas fa-angle-down"></i></button>
            </div>            
            <button><i class="fas fa-trash"></i></button>
            </div>
        </div>
        </article>
        </div>
        
    
        <section class="resumenCompra">
            <h2>Resumen de tu Compra</h2>
            <h3>Total: <strong>$$$$</strong></h3>
            <div class="endAddCompra">
            <a class="btnEndAdd" href="#">Finalizar Compra</a>
            <a class="btnEndAdd" href="/home.html">Agregar más Productos<a>   
            </div>
        </section>
     </div>  
        
    




    </main>
        
    <footer>
        <div class="contenedor-general-footer">
            <div class="contenedor-informacion-footer">
                <h5>INFORMACION</h5>
                <ul class="contenedor-lista-de-informacion">
                    <li><a href="/">Inicio</a></li>
                    <li><a href="#">Contacto</a></li>
                    <li><a href="#">Terminos y Condiciones</a></li>
                    <li><a href="#">Preguntas Frecuentes</a></li>
                    <li><a href="#">Boton de arrepentimiento</a></li>
                </ul>
            </div>

            <div class="contenedor-redes">
                <h5>REDES SOCIALES</h5>
                <div class="contenedor-iconos-redes-sociales">
                    <div class="contenedor-icono-instagram">
                        <i class="fab fa-instagram"></i>
                    </div>
                    <div class="contenedor-icono-facebook">
                        <i class="fab fa-facebook-square"></i>
                    </div>
                    <div class="contenedor-icono-youtube">
                        <i class="fab fa-youtube"></i>
                    </div>
                </div>
            </div>

            <div class="contenedor-donde-estamos">
                <h5>DONDE ESTAMOS?</h5>
                <p>Av. Calle Falsa 123, CABA</p>
                <p>Lunes a Viernes de 10:00 a 18:00hs</p>
                <div class="contenedor-icono-direccion-email">
                    <i class="fas fa-envelope"></i>
                    <a class="" href="mailto:info@argenthardware.com.ar">info@argenthardware.com.ar</a>
                </div>
            </div>

            <div class="contenedor-newsletter">
                <h5>NEWSLETTER</h5>
                <p>Recibi ofertas en tu email</p>
                <form>
                    <input type="text" placeholder="Nombre" name="nombre">
                    <input type="email" placeholder="E-mail" name="email" required>
                </form>
                <div class="contenedor-boton-para-enviar">
                    <button>SUSCRIBIRME</button>
                </div>
                
            </div>
        </div>
        <h4>© 2022 ARGENT HARDWARE - Todos los derechos reservados.</h4>
    </footer>
    
    
</body>
</html>