<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>ARGENT HARDWARE</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>        
        <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        <header>
            <div class="icono-menu-y-logo">
                <div class="icono-menu">
                    <i class="fa fa-bars burger"></i>
                </div>
                <div class="logo-empresa">
                    <img src="img/logo_empresa_1.svg" alt="Logo Empresa" class="logo">
                </div>
            </div>
    
            <div class="header-derecho">
                <div class="icono-usuario-header">
                    <i class="fa fa-solid fa-user"></i>
                </div>
    
                <div class="icono-busqueda">
                    <i class="fas fa-search"></i>
                </div>
    
                <div class="carrito-de-compras">
                    <i class="fas fa-shopping-cart"></i>
                </div>
            </div>
        </header>
        <div class="div-para-boton-oscuro">
            <div class="boton-para-modo-oscuro">Modo Oscuro</div>
        </div>
        <div class="div-para-boton-volver-listado">
            <div class="boton-volver">
                <i class="fas fa-angle-left"></i>
            </div>
        </div>


        <main class="register">
                     
            <form action="/" method="POST">
                <div class="nombre-usuario-email">
                    <h2 class="nuevo-cliente">NUEVO CLIENTE</h2> 
                    <h4>Nombre</h4>
                    <input type="text" name="nombre" placeholder="Ingresa Nombre">
                    <br>
                    <h4>Apellido</h4>
                    <input type="text" name="apellido" placeholder="Ingresa Apellido">
                    <br>
                    <h4>Documento</h4>
                    <input type="text" name="documento" placeholder=" Ingresa Documento">
                    <br>
                    <h4>Email</h4>
                    <input type="email" name="email" placeholder="Ingresa E-mail"> 
                    <br>
                    <h4>Contraseña</h4>
                    <input type="password" name="pass" placeholder="Elegí tu contraseña">
                    <br>
                    <h4>Confirma Contraseña</h4>
                    <input type="password" name="pass_confirm" placeholder="Confirmá tu clave">
                    <br>
                    <h4>Domicilio</h4>
                    <input type="text" name="addres" placeholder="Ingresa tu Domicilio">
                    <br>
                    <h4>Ciudad</h4>
                    <input type="text" name="ciudad" placeholder="Ingresa tu Ciudad">   
                </div>
                <div>
                    <br>
                    <br>
                    <a class="Registro-R" href="#">REGISTRARSE</a>
                </div>               
                

                
            </form>
        </main>

        <footer>
            <div class="contenedor-general-footer">
                <div class="contenedor-informacion-footer">
                    <h5>INFORMACION</h5>
                    <ul class="contenedor-lista-de-informacion">
                        <li><a href="/">Inicio</a></li>
                        <li><a href="#">Contacto</a></li>
                        <li><a href="#">Terminos y Condiciones</a></li>
                        <li><a href="#">Preguntas Frecuentes</a></li>
                        <li><a href="#">Boton de arrepentimiento</a></li>
                    </ul>
                </div>

                <div class="contenedor-redes">
                    <h5>REDES SOCIALES</h5>
                    <div class="contenedor-iconos-redes-sociales">
                        <div class="contenedor-icono-instagram">
                            <i class="fab fa-instagram"></i>
                        </div>
                        <div class="contenedor-icono-facebook">
                            <i class="fab fa-facebook-square"></i>
                        </div>
                        <div class="contenedor-icono-youtube">
                            <i class="fab fa-youtube"></i>
                        </div>
                    </div>
                </div>

                <div class="contenedor-donde-estamos">
                    <h5>DONDE ESTAMOS?</h5>
                    <p>Av. Calle Falsa 123, CABA</p>
                    <p>Lunes a Viernes de 10:00 a 18:00hs</p>
                    <div class="contenedor-icono-direccion-email">
                        <i class="fas fa-envelope"></i>
                        <a class="" href="mailto:info@argenthardware.com.ar">info@argenthardware.com.ar</a>
                    </div>
                </div>

                <div class="contenedor-newsletter">
                    <h5>NEWSLETTER</h5>
                    <p>Recibi ofertas en tu email</p>
                    <form>
                        <input type="text" placeholder="Nombre" name="nombre">
                        <input type="email" placeholder="E-mail" name="email" required>
                    </form>
                    <div class="contenedor-boton-para-enviar">
                        <button>SUSCRIBIRME</button>
                    </div>
                    
                </div>
            </div>
            <h4>© 2022 ARGENT HARDWARE - Todos los derechos reservados.</h4>
        </footer>
    </body>
</html>