*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* CSS PARA EL HEADER */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;900&family=Roboto:wght@100;300&display=swap');


  header{
      font-family: "Montserrat", sans-serif;
  }

  .main-header {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding: 0 0.4rem;
  }
  
  .main-nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    margin-left: -100%;
    transition: all 0.2s linear;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.7);
  }
  
  .nav-links {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100%;
    align-items: center;
    justify-content: flex-start;
  }
  
  .button-menu {
    z-index: 200;
    width: 40px;
    height: 40px;
    border: none;
    display: flex;
    background: none;
    flex-direction: column; /* Pondrá un span debajo del otro*/
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  /* 
    Dibujamos una línea recta por cada span creando el tipico menu hamburguesa
  */
  
  .button-menu span {
    width: 37px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #444444;
    border-radius: 3px;
    transform-origin: 4px 0px;
    transition: all 0.2s linear;
  }
  
  /* 
    con los span dibujamos un icono de cerrar 
    para mostrar cuándo la navegación este abierta 
  */
  
  .button-menu.close span {
    opacity: 1;
    transform: rotate(45deg) translate(0px, 0px);
    background: white
  }
  
  .button-menu.close span:nth-child(2) {
    transform: rotate(-45deg) translate(-8px, 5px);
  }
  
  .button-menu.close span:nth-child(3) {
    display: none;
  }
 
  
  .main-nav.show {
    margin-left: 0;
  }
  
  
  .link-item {
    margin-top: 2rem;
    color: #444444;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 20px;
    position: relative;
  }
  
  .link-item::after {
    position: absolute;
    background-color: black;
    bottom: -5px;
    left: 0;
    width: 0%;
    height: 3px;
    transition: 0.3s ease all;
  }
  
  .link-item:hover::after {
    width: 100%;
  }
  
  .button-menu {
    z-index: 200;
    width: 40px;
    height: 40px;
    border: none;
    display: flex;
    background: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .button-menu span {
    width: 37px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #444444;
    border-radius: 3px;
    transform-origin: 4px 0px;
    transition: all 0.2s linear;
  }
  
  .button-menu.close span {
    opacity: 1;
    transform: rotate(45deg) translate(0px, 0px);
    background: white
  }
  
  .button-menu.close span:nth-child(2) {
    transform: rotate(-45deg) translate(-8px, 5px);
  }
  
  .button-menu.close span:nth-child(3) {
    display: none;
  }

/* FIN DE CSS PARA EL HEADER */

body{
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}

main h2{
    font-size: 15px;
    margin: 10px 5px;
}

main h1{
    font-size: 20px;
    text-align: center;
    margin-bottom:10px;
}

section a.anchorProducto{
    text-decoration: none;
    color: black;
}

header{
    border:  solid 1px black; 
}

a:link, a:visited, a:active {
    text-decoration:none;
}

.boton-para-ir-al-registro{
    text-decoration:none;
    color: white;
}

.buttonRegister{
    width: 60%;
    padding: 3%;
    margin-top: 2%;
}

.contenedor-articulos-principales h3{
    text-align: center;
}

.foto-principal-users
{
    width: 100%;
    margin: auto;
    display: flex;
}

.contenedor-padre-header{
    display: grid;
    grid-template-columns: 100px 100px 1fr;
    grid-template-rows: 100px;
}

.contenedor-icono-de-menu{
    display:flex;
}

.contenedor-icono-de-menu i{
    font-size: 5vw;
    margin: auto;
}

.contenedor-logo-empresa{
    display: flex;
}

.contenedor-logo-empresa img{
    max-width: 33%;
    margin: auto;
    
}

.contenedor-logo-empresa a{
    max-width: 50%;
    
}

.contenedor-header-derecho{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;   
}

.contenedor-form-descripcion textarea{
        display: inline-block;
        margin: 0;
        padding: .2em;
        width: auto;
        min-width: 25em;
        /* The max-width "100%" value fixes a weird issue where width is too wide by default and extends beyond 100% of the parent in some agents. */
        max-width: 100%;
        /* Height "auto" will allow the text area to expand vertically in size with a horizontal scrollbar if pre-existing content is added to the box before rendering. Remove this if you want a pre-set height. Use "em" to match the font size set in the website. */
        height: auto;
        /* Use "em" to define the height based on the text size set in your website and the text rows in the box, not a static pixel value. */
        min-height: 10em;
        /* Do not use "border" in textareas unless you want to remove the 3D box most browsers assign and flatten the box design. */
        /*border: 1px solid black;*/
        cursor: text;
        /* Some textareas have a light gray background by default anyway. */
        background-color: #eee;
        /* Overflow "auto" allows the box to start with no scrollbars but add them as content fills the box. */
        overflow: auto;
        /* Resize creates a tab in the lower right corner of textarea for most modern browsers and allows users to resize the box manually. Note: Resize isn't supported by most older agents and IE. */
        resize: both;
}

.contenedor-header-derecho i{
    font-size: 5vw;
}

.contenedor-header-derecho a{
    text-decoration: none;
    color: black;
}


.foto-principal-producto{
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
}
.main-foto-principal{
    width: 100%;
    height: 100%;
    margin: 0 10px;
}





.foto1, .foto2, .foto3, .foto4, .foto5{
    width: 60px;
    height: 60px;
    margin: 10px 0;
}

.foto-componente-1, .foto-componente-2, .foto-componente-3, .foto-componente-4, .foto-componente-5{
    width: 100%;
    height: 100%;
}

.fotos-secundarias-producto{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.fotos-secundarias-producto img{
    width: 100%;
    height: 100%;
}

.boton-editar, .boton-borrar, .boton-comprar{
    text-align: center;
}

.href-boton-editar{
    text-decoration: none;
}

.boton-editar button{
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: 520;
    font-style: normal;
    font-size: 100%;
    color: #ffffff;
    text-decoration: none;
    width: 60%;
    line-height: 3;
    padding: 0 0px;
    margin: 5px 0px;
    background-color: chocolate;
    border-style: solid;
    border-width: 0px;
    border-color: #eeeeee;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    display: inline;
}

.boton-borrar button{
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: 520;
    font-style: normal;
    font-size: 100%;
    color: #ffffff;
    text-decoration: none;
    width: 60%;
    line-height: 3;
    padding: 0 0px;
    margin: 5px 0px;
    background-color: rgb(248, 69, 37);
    border-style: solid;
    border-width: 0px;
    border-color: #eeeeee;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    display: inline;
}

.boton-comprar button{
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: 520;
    font-style: normal;
    font-size: 100%;
    color: #ffffff;
    text-decoration: none;
    width: 60%;
    line-height: 3;
    padding: 0 0px;
    margin: 5px 0px;
    background-color: #0084e0;
    border-style: solid;
    border-width: 0px;
    border-color: #eeeeee;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    display: inline;
}

.contenedor-main-form h1{
    text-align: center;
}

.lista-nombres-usuarios{
    list-style: none;
}

.icono-usuario{
    display: flex;
    flex-direction: column;
}

header div h2{
    font-size: 10px;
}

.danger-text{
    color: red;
}


.top-header{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.descuento{
    color: red;
}

.contenedor-especificaciones-completas{
    border: solid 1px black;
}

.especificaciones{
    margin: 2px;
}

.especificaciones ul li{
    margin: 2px;
}

.contenedor-especificaciones-completas h2{
    text-align: center;
}

.contenedor-especificaciones-completas li{
    list-style-type: none;
    font-size: 15px;
    margin: 0 5px;
}

.producto-relacionado-1, .producto-relacionado-2, .producto-relacionado-3{
    
    width: 25%;
}

.productos-relacionados{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 10px 0;
}

.productos-relacionados img{
    width: 100%;
    height: 100%;
}

.producto-relacionado-1, .producto-relacionado-2, .producto-relacionado-3 p{
    text-align: center;
}

.contenedor-general-footer{
    
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    height: 500px;
}

.contenedor-redes, .contenedor-donde-estamos, .contenedor-donde-estamos, .contenedor-newsletter, .contenedor-informacion-footer{
    
    height: 25%;
    width: 100%;
}

footer ul li a{
    text-transform: uppercase;
    text-decoration: none;
    color: black;
}

footer li{
    list-style: none;
    
}

.contenedor-informacion-footer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
}

.contenedor-donde-estamos p, a{
    font-size: 85%;
}

.contenedor-newsletter p,a{
    font-size: 85%;
}

.contenedor-boton-para-enviar{
    
    display: flex;
    justify-content: center;
}

footer h4{
    font-size: 60%;
}

.contenedor-general-footer{
    background-color: #373636 !important;
    background: linear-gradient(60deg,#373636,#373636);
}

.contenedor-general-footer h5{
    color: white;
}

.contenedor-lista-de-informacion li a{
    color:white;
}

.contenedor-redes i{
    color:white;
}

.contenedor-donde-estamos{
    color: white;
}

.contenedor-newsletter{
    color: white;
}


.contenedor-boton-para-enviar button{

    font-family:Tahoma, Geneva, sans-serif;
    font-weight:300;
    font-style:normal;
    font-size:12px;
    color:#ffffff;
    text-decoration:none;
    width:44%;
    line-height:38px;
    padding:0 10px;
    margin:10px 0px;
    background: linear-gradient(60deg, #0064CB, #0064CB) !important;
    border-style:solid;
    border-width:0px;
    border-color:#eeeeee;
    border-radius:4px;
    cursor:pointer;
    text-align:center;
    display:inline; 
}

.contenedor-boton-para-ingresar-registro button{
    font-family:Tahoma, Geneva, sans-serif;
    font-weight:300;
    font-style:normal;
    font-size:12px;
    color:#ffffff;
    text-decoration:none;
    line-height:38px;
    padding:0 10px;
    margin:10px 0px;
    background: linear-gradient(60deg, #0064CB, #0064CB) !important;
    border-style:solid;
    border-color:#eeeeee;
    cursor:pointer;
    text-align:center;
    display:inline; 
}

.contenedor-newsletter input{
    border-radius: 2px;
    border: 0;
    border-bottom: solid 1px red;
    background-color: transparent;
    outline: none;

}

.contenedor-newsletter{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
}

.contenedor-donde-estamos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: column;
}

.contenedor-lista-de-informacion{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
}

.titulo-categoria-form{
    text-align: center;
}


.contenedor-informacion-footer ul{
    margin: 0;
}



.contenedor-donde-estamos a{
   
    color: white;
}

.contenedor-padre-footer-iconos-redes-sociales{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 100px;
}

.contenedor-icono-instagram, .contenedor-icono-facebook, .contenedor-icono-youtube, .contenedor-icono-twitter, .contenedor-icono-likedin{
    display: flex;
    flex-wrap: wrap;
}

.contenedor-icono-instagram, .contenedor-icono-facebook, .contenedor-icono-youtube, .contenedor-icono-twitter, .contenedor-icono-likedin, i{
    margin:auto;
    font-size: 120%;
}


.contenedor-icono-instagram a{
    text-decoration: none;
    color: black;
}

.contenedor-icono-facebook a{
    text-decoration: none;
    color: black;
}

.contenedor-icono-youtube a{
    text-decoration: none;
    color: black;
}

.contenedor-icono-twitter a{
    text-decoration: none;
    color: black;
}

.contenedor-icono-likedin a{
    text-decoration: none;
    color: black;
}




.contenedor-producto-imagen-descripcion img{
    max-width: 100%;
    
}

.contenedor-section-principal h2{
    text-align: center;
    margin-bottom: 5%;
    padding: 0;
    font-size: 150%;
}

.contenedor-articulos-principales{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contenedor-producto-imagen-descripcion{
    margin: auto;
    box-shadow: -14px 7px 24px 1px rgba(158,158,158,0.75);
    -webkit-box-shadow: -14px 7px 24px 1px rgba(158,158,158,0.75);
    -moz-box-shadow: -14px 7px 24px 1px rgba(158,158,158,0.75);
    margin-bottom: 5%;
    max-width: 80%;
}

.contendor-descripcion{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.producto-relacionado-1, .producto-relacionado-2, .producto-relacionado-3{
    box-shadow: -14px 7px 24px 1px rgba(158,158,158,0.75);
}

.precio-anterior-precio-actual{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}


/*productCart.html RULES*/
body.bodyCarrito{
    width: 100%;
}



section.carritoCompra h1{
    width: 100%;
    text-align: center;
}


div.contArticles{
    
    width: 100%;
    
}

article.productoCarrito{
    display: flex; 
    width: 90%;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    margin: auto;
    margin-bottom: 5%;
    align-items: center;
    

}

div.imagenCarrito{
    width: 45%;
    margin: 5%;
    margin-right: 5%;
}

div.imagenCarrito img{
    width: 100%;
    height: 100%;
}


div.descripcionCarrito{
    width: 45%;
    padding: 2%;
}

div.cantidadButtons{
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

div.cantidadButtons input{
 width: 20%;
 margin-right: 10%;
 margin-left: 30%;
}


div.sumarRestar{
    width: 20%;
    margin-right: 5% ;
}

section.resumenCompra{
    text-align: center;
    padding: 5%;
}

.resumenCompra h2{
    font-size: 200%;
}

.resumenCompra h3{
    font-size: 150%;
}


div.endAddCompra{
    display: flex; 
    justify-content: space-around;
    margin: 5%;
}

a.btnEndAdd{
    border: solid 1px black;
    text-decoration: none;
    background-color: black;
    color: white; 
    padding: 2%;
    border-radius: 10px;;
    margin: 2%;
    width: 40%;

}

.boton-form-categoria{
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 12px;
    color: #ffffff;
    text-decoration: none;
    width: 44%;
    line-height: 38px;
    padding: 0 10px;
    margin: 10px 0px;
    background: linear-gradient(60deg, #0064CB, #0064CB) !important;
    border-style: solid;
    border-width: 0px;
    border-color: #eeeeee;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    display: inline;
}

.contenedor-botones-categorias{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: column;
}

.contenedor-boton-cat{
    width: 100%;
    text-align: center;
}


.contenedor-form-categoria{
    display: flex;
    justify-content: flex-end;
    flex-direction: row-reverse;
}

.label-box{
    display: flex;
    flex-direction: column;
    
}

.categoria-box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form-register h4{
    margin: 3% 0;
}

.boton-editar a{
    text-decoration: none;
}

.contenedor-boton-cat, .contenedor-boton-cat, .contenedor-boton-cat a{
    text-decoration: none;
}

.form-register h1{
    margin: 2% 0;
}

.contenedor-form-botones{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 3% 0;
}

.boton-display-all-products button{
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: 520;
    font-style: normal;
    font-size: 100%;
    color: #ffffff;
    text-decoration: none;
    width: 35%;
    line-height: 3;
    padding: 0 0px;
    margin: 5px 0px;
    background-color: rgb(248, 69, 37);
    border-style: solid;
    border-width: 0px;
    border-color: #eeeeee;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    display: inline;
}

.boton-display-all-products a{
    text-decoration: none;
}

.contenedor-form-nombre input{

    padding: 1%;
    border: none;
    border-radius: 3px;
    width: 95%;
}

.contenedor-form-descripcion input{
    padding: 1%;
    border: none;
    border-radius: 3px;
    width: 95%;
}

.contenedor-form-precio input{
    padding: 1%;
    border: none;
    border-radius: 3px;
    width: 50%;
}

.contenedor-form-botones button{
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 12px;
    color: #ffffff;
    text-decoration: none;
    width: 44%;
    line-height: 38px;
    background: linear-gradient(60deg, #0064CB, #0064CB) !important;
    border-style: solid;
    border-width: 0px;
    border-color: #eeeeee;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    display: inline;
}



@media (min-width: 400px){
    .register, .login {
    width: 70vw;   
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    }      

    .contenedor-icono-de-menu i{
        font-size: 3.5vw;
    }

    .contenedor-logo-empresa img{
        max-width: 30%;
    }

    .contenedor-header-derecho i{
        font-size: 3.5vw;
    }
} 

@media (min-width: 600px){
    .contenedor-logo-empresa img{
        max-width: 25%;
    }

    .nav-links {
        width: 55%;
    }
}


    
 @media (min-width: 768px)
 {

    .contenedor-logo-empresa{
        max-width: 30%;
    }

    .register, .login {
        width: 30vw;   
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: auto;
    }
    
    div.contCarritoPadre{
        display: flex;
        width: 100%;
        
    }


    div.contArticles{
     display: flex; 
     flex-direction: column;
     width: 50%;
     justify-content: space-around;   
    }
    
    article.productoCarrito{
        width: 90%;
        margin: 1%;
        height: 20%;
    }

    section.resumenCompra{
        width: 50%;
    }

    .contenedor-icono-de-menu i{
        font-size: 2vw;
        margin: auto;
    }

    .contenedor-logo-empresa img{
        max-width: 80%;
        margin: auto;
    }

    .contenedor-header-derecho i{
        font-size: 2vw;
    }

    .anchorProducto{
        max-width: 25%;

    }

    .contenedor-boton-para-enviar{
    
        justify-content: left;
    }

    .contenedor-boton-para-enviar button{
        width: 18%;
    }

    .foto-principal-producto{
        width: 35%;
    }    

 }  

@media (min-width: 900px)
{
    .contenedor-padre-footer-iconos-redes-sociales{
        grid-template-columns: 5% 5% 5% 5% 5%;
        grid-template-rows: 100px;
    }

    .foto-principal-producto{
        width: 25%;
    }

    .contenedor-botones-categorias{
        flex-direction: row;
    }
    .contenedor-boton-cat{
        width: 30%;
    }
    .contenedor-form-nombre input{
        width: 35%;
    }
    .contenedor-form-precio input{
        width: 35%;
    }
    .contenedor-form-botones button{
        width: 10%;

    }

    .foto-principal-users{
        width: 15%;
    } 

    .boton-display-all-products button{
        width: 15%;
    }
    .main-nav{
        width: 50vw;
        height: 100vh;
    }

    .contenedor-logo-empresa img{
        max-width: 40%;
    }

    @media (min-width: 1920px)
    {
        .main-nav{
            width: 30vw;
            
        }

    }

} 