*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}

main h2{
    font-size: 15px;
    margin: 10px 5px;
}

main h1{
    font-size: 20px;
    text-align: center;
    margin-bottom:10px;
}

section a.anchorProducto{
    text-decoration: none;
    color: black;
}

header{
    border:  solid 1px black; 
}

.contenedor-padre-header{
    display: grid;
    grid-template-columns: 100px 100px 1fr;
    grid-template-rows: 100px;
}

.contenedor-icono-de-menu{
    display:flex;
}

.contenedor-icono-de-menu i{
    font-size: 5vw;
    margin: auto;
}

.contenedor-logo-empresa{
    display: flex;
}

.contenedor-logo-empresa img{
    max-width: 50%;
    margin: auto;
}

.contenedor-header-derecho{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    
}

.contenedor-header-derecho i{
    font-size: 5vw;
}

.contenedor-header-derecho a{
    text-decoration: none;
    color: black;
}


.foto-principal-producto{
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
}
.main-foto-principal{
    width: 100%;
    height: 100%;
    margin: 0 10px;
}





.foto1, .foto2, .foto3, .foto4, .foto5{
    width: 60px;
    height: 60px;
    margin: 10px 0;
}

.foto-componente-1, .foto-componente-2, .foto-componente-3, .foto-componente-4, .foto-componente-5{
    width: 100%;
    height: 100%;
}

.fotos-secundarias-producto{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.fotos-secundarias-producto img{
    width: 100%;
    height: 100%;
}

.precio-y-descuento{
    width: 60%;
    display: flex;
    align-items: center;
}

.precio-anterior-precio-actual{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


.precio-y-descuento h2{
    margin: 0;
    width: 55%;
}

.precio-anterior-precio-actual del{
    font-size: 15px;
    width: 55%;
}


.contenedor-precio-boton-comprar{
    display: flex;
    align-items: center;
    margin: 10px 0;
}
.boton-comprar{
    width: 50%;
}

.boton-comprar button{
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: 520;
    font-style: normal;
    font-size: 100%;
    color: #ffffff;
    text-decoration: none;
    width: 100%;
    line-height: 3;
    padding: 0 0px;
    margin: 5px 0px;
    background-color: #0084e0;
    border-style: solid;
    border-width: 0px;
    border-color: #eeeeee;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    display: inline;
}



.icono-usuario{
    display: flex;
    flex-direction: column;
}

header div h2{
    font-size: 10px;
}



.top-header{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.descuento{
    color: red;
}

.contenedor-especificaciones-completas{
    border: solid 1px black;
}

.especificaciones{
    margin: 2px;
}

.especificaciones ul li{
    margin: 2px;
}

.contenedor-especificaciones-completas h2{
    text-align: center;
}

.contenedor-especificaciones-completas li{
    list-style-type: none;
    font-size: 15px;
    margin: 0 5px;
}

.producto-relacionado-1, .producto-relacionado-2, .producto-relacionado-3{
    
    width: 25%;
}

.productos-relacionados{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 10px 0;
}

.productos-relacionados img{
    width: 100%;
    height: 100%;
}

.producto-relacionado-1, .producto-relacionado-2, .producto-relacionado-3 p{
    text-align: center;
}

.contenedor-general-footer{
    
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    height: 500px;
}

.contenedor-redes, .contenedor-donde-estamos, .contenedor-donde-estamos, .contenedor-newsletter, .contenedor-informacion-footer{
    
    height: 25%;
    width: 100%;
}

footer ul li a{
    text-transform: uppercase;
    text-decoration: none;
    color: black;
}

footer li{
    list-style: none;
    
}

.contenedor-informacion-footer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
}

.contenedor-donde-estamos p, a{
    font-size: 85%;
}

.contenedor-newsletter p,a{
    font-size: 85%;
}

.contenedor-boton-para-enviar{
    
    display: flex;
    justify-content: center;
}

footer h4{
    font-size: 60%;
}

.contenedor-general-footer{
    background-color: #373636 !important;
    background: linear-gradient(60deg,#373636,#373636);
}

.contenedor-general-footer h5{
    color: white;
}

.contenedor-lista-de-informacion li a{
    color:white;
}

.contenedor-redes i{
    color:white;
}

.contenedor-donde-estamos{
    color: white;
}

.contenedor-newsletter{
    color: white;
}


.contenedor-boton-para-enviar button{

    font-family:Tahoma, Geneva, sans-serif;
    font-weight:300;
    font-style:normal;
    font-size:12px;
    color:#ffffff;
    text-decoration:none;
    width:44%;
    line-height:38px;
    padding:0 10px;
    margin:10px 0px;
    background: linear-gradient(60deg, #0064CB, #0064CB) !important;
    border-style:solid;
    border-width:0px;
    border-color:#eeeeee;
    border-radius:4px;
    cursor:pointer;
    text-align:center;
    display:inline; 
}

.contenedor-newsletter input{
    border-radius: 2px;
    border: 0;
    border-bottom: solid 1px red;
    background-color: transparent;
    outline: none;

}

.contenedor-newsletter{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
}

.contenedor-donde-estamos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: column;
}

.contenedor-lista-de-informacion{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
}


.contenedor-informacion-footer ul{
    margin: 0;
}



.contenedor-donde-estamos a{
   
    color: white;
}

.contenedor-padre-footer-iconos-redes-sociales{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 100px;
}

.contenedor-icono-instagram, .contenedor-icono-facebook, .contenedor-icono-youtube, .contenedor-icono-twitter, .contenedor-icono-likedin{
    display: flex;
    flex-wrap: wrap;
}

.contenedor-icono-instagram, .contenedor-icono-facebook, .contenedor-icono-youtube, .contenedor-icono-twitter, .contenedor-icono-likedin, i{
    margin:auto;
    font-size: 120%;
}


.contenedor-icono-instagram a{
    text-decoration: none;
    color: black;
}

.contenedor-icono-facebook a{
    text-decoration: none;
    color: black;
}

.contenedor-icono-youtube a{
    text-decoration: none;
    color: black;
}

.contenedor-icono-twitter a{
    text-decoration: none;
    color: black;
}

.contenedor-icono-likedin a{
    text-decoration: none;
    color: black;
}




.contenedor-producto-imagen-descripcion img{
    max-width: 100%;
    
}

.contenedor-section-principal h2{
    text-align: center;
    margin-bottom: 5%;
    padding: 0;
    font-size: 150%;
}

.contenedor-articulos-principales{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contenedor-producto-imagen-descripcion{
    margin: auto;
    box-shadow: -14px 7px 24px 1px rgba(158,158,158,0.75);
    -webkit-box-shadow: -14px 7px 24px 1px rgba(158,158,158,0.75);
    -moz-box-shadow: -14px 7px 24px 1px rgba(158,158,158,0.75);
    margin-bottom: 5%;
    max-width: 80%;
}

.contendor-descripcion{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.producto-relacionado-1, .producto-relacionado-2, .producto-relacionado-3{
    box-shadow: -14px 7px 24px 1px rgba(158,158,158,0.75);
}


/*productCart.html RULES*/
body.bodyCarrito{
    width: 100%;
}



section.carritoCompra h1{
    width: 100%;
    text-align: center;
}


div.contArticles{
    
    width: 100%;
    
}

article.productoCarrito{
    display: flex; 
    width: 90%;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    margin: auto;
    margin-bottom: 5%;
    align-items: center;
    

}

div.imagenCarrito{
    width: 45%;
    margin: 5%;
    margin-right: 5%;
}

div.imagenCarrito img{
    width: 100%;
    height: 100%;
}


div.descripcionCarrito{
    width: 45%;
    padding: 2%;
}

div.cantidadButtons{
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

div.cantidadButtons input{
 width: 20%;
 margin-right: 10%;
 margin-left: 30%;
}


div.sumarRestar{
    width: 20%;
    margin-right: 5% ;
}

section.resumenCompra{
    text-align: center;
    padding: 5%;
}

.resumenCompra h2{
    font-size: 200%;
}

.resumenCompra h3{
    font-size: 150%;
}


div.endAddCompra{
    display: flex; 
    justify-content: space-around;
    margin: 5%;
}

a.btnEndAdd{
    border: solid 1px black;
    text-decoration: none;
    background-color: black;
    color: white; 
    padding: 2%;
    border-radius: 10px;;
    margin: 2%;
    width: 40%;

}

/* CSS PARA LOGIN Y REGISTER */

.contenedor-login{
    display: flex;
    justify-content: center; 
    align-items: center; 
    box-sizing: border-box;
    margin: 5%;
}

.acceso-login{
    border: 1px solid black;
    border-radius: 5%;
    padding-left: 35px;
    margin-bottom: 5%;
    margin-top: 5%;
    background-color: aliceblue;
}

.correo-contra-login{
    margin-bottom: 5px;
    padding-left: 25px;
    margin-bottom: 5%;
    margin-top: 5%;
}

.ingreso-login{
    
    padding-left: 70px;

}

.Registro{
    color: black;
    
}
.boton-envio{
    background-color: #0084e0;
    color: black;
    border-radius: 5%;
    font-weight: bold;
    padding: 5%;
}
.recordar-login{
    padding-left: 25%;
    padding: 5%;
    padding-left: 7%;
    margin-bottom: 5px;
    font-size: small;
    font-weight: bold;
}

.olvidaste{
    padding-left: 9px;
    margin-bottom: 5%;
    color: black;
    font-size: bold;
}

.nueva-cuenta-login{
    padding-left: 14px;
    margin-bottom: 5px;   
    color: black; 
    font-size: bold;
}

.face-login{
    background-color: #0084e0;
    border: 1px solid black;
    border-radius: 5px;
        margin-bottom: 5px;
    margin-top: 5px;
    padding: 5%;
}

.Facebook{
    color: black;
    font-size: bold;
    align-items: center;
    margin-left: 10%;

}

.goo-login{
    background-color: rgb(245, 120, 120);
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 5%;

}

.Google{
    color: black;
    font-size: bold;
    margin-left: 10%;
}


/* -----------------REGISTER--------------------------------- */


.register{
    display: flex;
    justify-content: center; 
    align-items: center; 
    box-sizing: border-box;
    margin: 5%;
}

.nuevo-cliente{
    padding-left: 15%;
    padding-top: 5%;
    padding-bottom: 5%;
    border-radius: 5%;
    border: 1px solid black;
    background-color: aliceblue;
}

.registro-R{
    color: black;

}
/* ---------------END---REGISTER--------------------------------- */
/* ---------------------------END LOGIN Y REGISTER---------------------------------------- */
.contenedor-form-categoria{
    display: flex;
    justify-content: flex-end;
    flex-direction: row-reverse;
}

.label-box{
    display: flex;
    flex-direction: column;
    
}

.categoria-box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form-register h4{
    margin: 3% 0;
}

.form-register h1{
    margin: 2% 0;
}

.contenedor-form-botones{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 3% 0;
}

.contenedor-form-nombre input{

    padding: 1%;
    border: none;
    border-radius: 3px;
    width: 50%;
}

.contenedor-form-descripcion input{
    padding: 1%;
    border: none;
    border-radius: 3px;
    width: 50%;
}

.contenedor-form-precio input{
    padding: 1%;
    border: none;
    border-radius: 3px;
    width: 50%;
}

.contenedor-form-botones button{
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 12px;
    color: #ffffff;
    text-decoration: none;
    width: 44%;
    line-height: 38px;
    background: linear-gradient(60deg, #0064CB, #0064CB) !important;
    border-style: solid;
    border-width: 0px;
    border-color: #eeeeee;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    display: inline;
}



@media (min-width: 400px){
    .register, .login {
    width: 70vw;   
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    }      

    .contenedor-icono-de-menu i{
        font-size: 3.5vw;
    }

    .contenedor-logo-empresa img{
        max-width: 50%;
    }

    .contenedor-header-derecho i{
        font-size: 3.5vw;
    }
} 


    
 @media (min-width: 768px)
 {
    .register, .login {
        width: 30vw;   
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: auto;
    }
    
    div.contCarritoPadre{
        display: flex;
        width: 100%;
        
    }


    div.contArticles{
     display: flex; 
     flex-direction: column;
     width: 50%;
     justify-content: space-around;   
    }
    
    article.productoCarrito{
        width: 90%;
        margin: 1%;
        height: 20%;
    }

    section.resumenCompra{
        width: 50%;
    }

    .contenedor-icono-de-menu i{
        font-size: 2vw;
        margin: auto;
    }

    .contenedor-logo-empresa img{
        max-width: 65%;
        margin: auto;
    }

    .contenedor-header-derecho i{
        font-size: 2vw;
    }

    .anchorProducto{
        max-width: 25%;

    }

    .contenedor-boton-para-enviar{
    
        justify-content: left;
    }

    .contenedor-boton-para-enviar button{
        width: 18%;
    }

    .foto-principal-producto{
        width: 35%;
    }
    
 }  

@media (min-width: 900px)
{
    .contenedor-padre-footer-iconos-redes-sociales{
        grid-template-columns: 5% 5% 5% 5% 5%;
        grid-template-rows: 100px;
    }

    .foto-principal-producto{
        width: 25%;
    }

    .boton-comprar button{
        width: 45%;
    }

    


} 
