<!DOCTYPE html>
<html lang="en">
<!-- HEAD -->
<%- include('../partials/head') %> 
<body>
     
<!-- HEADER -->
<%- include('../partials/header') %> 
   

    <main>        
    <section class="contenedor-section-principal">   
        <h2>PC GAMERS</h2>
        <div class="contenedor-articulos-principales">
                
            <a class="anchorProducto" href="/detailProduct"><article class="contenedor-producto-imagen-descripcion">            
                    <img src="img/PC_GAMER/pc_gamer_1.png" alt="PC ESCRITORIO">
                    <div class="contendor-descripcion">
                    <h3 class="description">PC GAMER INTEL</h3>
                    <p class="price">$100.000</p>
                    <p class="discount">12 cuotas de $10.000</p>
                    </div>                              
                </article></a>

                <a class="anchorProducto" href="/detailProduct"><article class="contenedor-producto-imagen-descripcion">            
                    <img src="img/PC_GAMER/pc_gamer_2.png" alt="PC ESCRITORIO">
                    <div class="contendor-descripcion">
                    <h3 class="description">PC GAMER AMD</h3>
                    <p class="price">$200.000</p>
                    <p class="discount">12 cuotas de $20.000</p>
                    </div>                        
                </article></a>

                <a class="anchorProducto" href="/detailProduct"><article class="contenedor-producto-imagen-descripcion">            
                    <img src="img/PC_GAMER/pc_gamer_3.png" alt="PC ESCRITORIO">
                    <div class="contendor-descripcion">
                    <h3 class="description">PC GAMER AMD</h3>
                    <p class="price">$300.000</p>
                    <p class="discount">12 cuotas de $30.000</p>
                    </div>                        
                </article></a>


                <a class="anchorProducto" href="/detailProduct"><article class="contenedor-producto-imagen-descripcion">            
                    <img src="img/PC_GAMER/pc_gamer_4.png" alt="PC ESCRITORIO">
                    <div class="contendor-descripcion">
                    <h3 class="description">PC GAMER INTEL</h3>
                    <p class="price">$400.000</p>
                    <p class="discount">12 cuotas de $40.000</p>
                    </div>                        
                </article></a>
        </div>
    </section>

    <section class="contenedor-section-principal">   
        <h2>NOTEBOOKS</h2>
        <div class="contenedor-articulos-principales">
                <a class="anchorProducto" href="/detailProduct"><article class="contenedor-producto-imagen-descripcion">            
                    <img src="img/notebooks/notebook_prueba_1.png" alt="PC ESCRITORIO">
                    <div class="contendor-descripcion">
                    <h3 class="description">NOTEBOOK OFICINA</h3>
                    <p class="price">$100.000</p>
                    <p class="discount">12 cuotas de $10.000</p>
                    </div>                              
                </article></a>

                <a class="anchorProducto" href="/detailProduct"><article class="contenedor-producto-imagen-descripcion">            
                    <img src="img/notebooks/notebook_prueba_2.jpg" alt="PC ESCRITORIO">
                    <div class="contendor-descripcion">
                    <h3 class="description">NOTEBOOK OFICINA</h3>
                    <p class="price">$200.000</p>
                    <p class="discount">12 cuotas de $20.000</p>
                    </div>                        
                </article></a>

                <a class="anchorProducto" href="/detailProduct"><article class="contenedor-producto-imagen-descripcion">            
                    <img src="img/notebooks/notebook_prueba_3.png" alt="PC ESCRITORIO">
                    <div class="contendor-descripcion">
                    <h3 class="description">NOTEBOOK DISEÑO</h3>
                    <p class="price">$300.000</p>
                    <p class="discount">12 cuotas de $30.000</p>
                    </div>                        
                </article></a>


                <a class="anchorProducto" href="/detailProduct"><article class="contenedor-producto-imagen-descripcion">            
                    <img src="img/notebooks/notebook_prueba_4.png" alt="PC ESCRITORIO">
                    <div class="contendor-descripcion">
                    <h3 class="description">NOTEBOOK GAMING</h3>
                    <p class="price">$400.000</p>
                    <p class="discount">12 cuotas de $40.000</p>
                    </div>                        
                </article></a>
        </div>
    </section>

    <section class="contenedor-section-principal">   
        <h2>COMPONENTES</h2>
        <div class="contenedor-articulos-principales">
                <a class="anchorProducto" href="/detailProduct"><article class="contenedor-producto-imagen-descripcion">            
                    <img src="img/hardware/hardware_ryzen9_1.png" alt="PC ESCRITORIO">
                    <div class="contendor-descripcion">
                    <h3 class="description">CPU AMD RYZEN 9</h3>
                    <p class="price">$100.000</p>
                    <p class="discount">12 cuotas de $10.000</p>
                    </div>                              
                </article></a>

                <a class="anchorProducto" href="/detailProduct"><article class="contenedor-producto-imagen-descripcion">            
                    <img src="img/hardware/mb_x570_1.png" alt="PC ESCRITORIO">
                    <div class="contendor-descripcion">
                    <h3 class="description">MOTHERBOARD X570</h3>
                    <p class="price">$200.000</p>
                    <p class="discount">12 cuotas de $20.000</p>
                    </div>                        
                </article></a>

                <a class="anchorProducto" href="/detailProduct"><article class="contenedor-producto-imagen-descripcion">            
                    <img src="img/hardware/RAM_1.png" alt="PC ESCRITORIO">
                    <div class="contendor-descripcion">
                    <h3 class="description">RAM DDR4 AORUS</h3>
                    <p class="price">$300.000</p>
                    <p class="discount">12 cuotas de $30.000</p>
                    </div>                        
                </article></a>


                <a class="anchorProducto" href="/detailProduct"><article class="contenedor-producto-imagen-descripcion">            
                    <img src="img/hardware/GPU_1.png" alt="PC ESCRITORIO">
                    <div class="contendor-descripcion">
                    <h3 class="description">GPU NVIDIA RTX 3090</h3>
                    <p class="price">$400.000</p>
                    <p class="discount">12 cuotas de $40.000</p>
                    </div>                        
                </article></a>
        </div>
    </section>

    </main>
       
    <!-- footer  -->
    <%- include('../partials/footer')  %> 
   
    
</body>
</html>