<!DOCTYPE html>
<html lang="en">
<!-- HEAD -->
<%- include('../partials/head.ejs') %> 
<body>
     
<!-- HEADER -->
<%- include('../partials/header.ejs') %> 
        
       <!-- -----------------------LOGIN----------------------------------------- -->

        <main class="contenedor-login">
            <form action="/" method="POST">            
            
                <div class="acceso-login">
                    <h2 class="acceso-clientes">ACCESO CLIENTES</h2>     
                </div>
                
                <div class="correo-contra-login">
                    <h5 class="correo">CORREO ELECTRONICO</h5>
                    <input type="text" name="user" class="correo-el">
                
                    <h5 class="contraseña">CONTRASEÑA</h5>
                    <input type="password" name="pass" class="contra-el">
                </div>
               
                <div class="ingreso-login">
                    <input type="submit" value="INGRESAR" class="boton-envio">
                </div>
                <div class="recordar-login">
                    <label for="recuerdo">RECORDAR CONTRASEÑA</label>
                    <input type="checkbox" name="recuerdo">
                </div>
                <div>
                    <a class="olvidaste" href="#">OLVIDASTE TU CONTRASEÑA</a>
                </div>
                <div class="nueva-cuenta-login">
                    <a class="Registro" href="/register">REGISTRAR NUEVA CUENTA</a>
                </div>
                <div class="face-login">
                    <a class="Facebook" href="#">Continuar con Facebook</a>
                    
                </div>
                <div class="goo-login">
                    <a class="Google" href="#">Continuar con Google+</a>
                </div>
                 </form>
              
        </main>

        <!-- -------------------------------FIN----LOGIN----------------------------------------- -->



        <%- include('../partials/footer')  %> 
    </body>
</html>