<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Validación de Formulario con Javascript</title>
	<link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet"> 
	<link rel="stylesheet" href="/css/estilos.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<header>
    <div class="contenedor-padre-header">
        <div class="contenedor-icono-de-menu">
            <i class="fas fa-bars"></i>
        </div>

        <div class="contenedor-logo-empresa">
            <a href="/"><img src="/img/logo_empresa_1.svg"></a>
        </div>

        <div class="contenedor-header-derecho">
            <a href="#"><i class="fas fa-search"></i></a>
            <a href="/user/login"><i class="fas fa-sign-in-alt"></i></a>
            <a href="/user/register"><i class="fa fa-solid fa-user"></i></a>
            <a href="/products/productCart"><i class="fas fa-shopping-cart"></i></a>
        </div>
    </div>
</header>
<body> 
	<main>
		<form action="login" class="formulario" id="formulario" method="POST">
		
			<!-- Grupo: email Electronico -->
			<div class="formulario__grupo" id="grupo__email">
				<label for="email" class="formulario__label">Correo Electrónico</label>
				<div class="formulario__grupo-input">
					<input 
						type="email"
						class="formulario__input" 
						name="email" 
						id="email" 
                        required
						placeholder="email@email.com"
						value="<%= locals.old ? old.email : null %> "
					>
					<i class="formulario__validacion-estado fas fa-times-circle"></i>
					<% if (locals.errors && errors.email) { %>
                        <div class="danger-text">
                            <%= errors.email.msg %> 
                        </div>
                    <% } %>
				</div>
				<p class="formulario__input-error">El email solo puede contener letras, numeros, puntos, guiones y guion bajo.</p>
			</div>

			<!-- Grupo: Contraseña -->
			<div class="formulario__grupo" id="grupo__password">
				<label for="password" class="formulario__label">Contraseña</label>
				<div class="formulario__grupo-input">
					<input 
					type="password" 
					class="formulario__input" 
					name="password" 
					id="password"
					>
					<i class="formulario__validacion-estado fas fa-times-circle"></i>
					<% if (locals.errors && errors.password) { %>
                        <div class="danger-text">
                            <%= errors.password.msg %> 
                        </div>
                    <% } %>
				</div>
				<p class="formulario__input-error">La contraseña tiene que ser de 4 a 12 dígitos.</p>
			</div>

			<% if (locals.mensaje != undefined) { %>
				<div class="danger-text">
					<%= mensaje %> 
				</div>
			<% } %>

			<!-- Grupo: Terminos y Condiciones -->
			<div class="formulario__grupo" id="grupo__terminos">
				<label class="formulario__label">
					<input class="formulario__checkbox" type="checkbox" name="recordarUsuario" id="terminos">
					Recordame
				</label>
			</div>
			
			<div class="formulario__mensaje" id="formulario__mensaje">
				<p><i class="fas fa-exclamation-triangle"></i> <b>Error:</b> Por favor rellena el formulario correctamente. </p>
			</div>

			<div class="formulario__grupo formulario__grupo-btn-enviar">
				<button type="submit" class="formulario__btn">INGRESAR</button>
				<p class="formulario__mensaje-exito" id="formulario__mensaje-exito">Formulario enviado exitosamente!</p>
			</div>

            <div class="formulario__grupo formulario__grupo-btn-enviar">
				<button class="formulario__btn"><a href="/user/register" class="boton-para-ir-al-registro">CREAR NUEVA CUENTA</a></button>
			</div>
		</form>
	</main>

	<script src="/js/formulario.js"></script>
	<script src="https://kit.fontawesome.com/2c36e9b7b1.js" crossorigin="anonymous"></script>

    <footer>
        <div class="contenedor-general-footer">
            <div class="contenedor-informacion-footer">
                <h5>INFORMACION</h5>
                <ul class="contenedor-lista-de-informacion">
                    <li><a href="/">Inicio</a></li>
                    <li><a href="#">Contacto</a></li>
                    <li><a href="#">Terminos y Condiciones</a></li>
                    <li><a href="#">Preguntas Frecuentes</a></li>
                    <li><a href="#">Boton de arrepentimiento</a></li>
                </ul>
            </div>
    
            <div class="contenedor-redes">
                <h5>REDES SOCIALES</h5>
                <div class="contenedor-padre-footer-iconos-redes-sociales">
                    <div class="contenedor-icono-instagram">
                        <a href="#">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </div>
                    <div class="contenedor-icono-facebook">
                        <a href="#">
                            <i class="fab fa-facebook-square"></i>
                        </a>
                    </div>
                    <div class="contenedor-icono-youtube">
                        <a href="#">
                            <i class="fab fa-youtube"></i>
                        </a>
                    </div>
                    <div class="contenedor-icono-twitter">
                        <a href="#">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </div>
                    <div class="contenedor-icono-likedin">
                        <a href="#">
                            <i class="fab fa-linkedin"></i>
                        </a>
                    </div>
                </div>
            </div>
    
            <div class="contenedor-donde-estamos">
                <h5>DONDE ESTAMOS?</h5>
                <p>Av. Calle Falsa 123, CABA</p>
                <p>Lunes a Viernes de 10:00 a 18:00hs</p>
                <div class="contenedor-icono-direccion-email">
                    <i class="fas fa-envelope"></i>
                    <a class="" href="mailto:info@argenthardware.com.ar">info@argenthardware.com.ar</a>
                </div>
            </div>
    
            <div class="contenedor-newsletter">
                <h5>NEWSLETTER</h5>
                <p>Recibi ofertas en tu email</p>
                <form>
                    <input type="text" placeholder="Nombre" name="nombre">
                    <input type="email" placeholder="E-mail" name="email" required>
                </form>
                <div class="contenedor-boton-para-enviar">
                    <button>SUSCRIBIRME</button>
                </div>
                
            </div>
        </div>
        <h4>© 2022 ARGENT HARDWARE - Todos los derechos reservados.</h4>
    </footer>
</body>
</html>