<!DOCTYPE html>
<html lang="en">
<!-- HEAD -->
<%- include('../partials/head.ejs') %> 
<body>
     
<!-- HEADER -->
<%- include('../partials/header.ejs') %> 
        
        


        <main class="register">
                     
            <form action="/" method="POST">
                <div class="nombre-usuario-email">
                    <h2 class="nuevo-cliente">NUEVO CLIENTE</h2> 
                    <h4>Nombre</h4>
                    <input type="text" name="nombre" placeholder="Ingresa Nombre">
                    <br>
                    <h4>Apellido</h4>
                    <input type="text" name="apellido" placeholder="Ingresa Apellido">
                    <br>
                    <h4>Documento</h4>
                    <input type="text" name="documento" placeholder=" Ingresa Documento">
                    <br>
                    <h4>Email</h4>
                    <input type="email" name="email" placeholder="Ingresa E-mail"> 
                    <br>
                    <h4>Contraseña</h4>
                    <input type="password" name="pass" placeholder="Elegí tu contraseña">
                    <br>
                    <h4>Confirma Contraseña</h4>
                    <input type="password" name="pass_confirm" placeholder="Confirmá tu clave">
                    <br>
                    <h4>Domicilio</h4>
                    <input type="text" name="addres" placeholder="Ingresa tu Domicilio">
                    <br>
                    <h4>Ciudad</h4>
                    <input type="text" name="ciudad" placeholder="Ingresa tu Ciudad">   
                </div>
                <div>
                    <br>
                    <br>
                    <a class="Registro-R" href="#">REGISTRARSE</a>
                </div>               
                

                
            </form>
        </main>

        <%- include('../partials/footer')  %> 
    </body>
</html>