<!DOCTYPE html>
<html lang="en">
<!-- HEAD -->
<%- include('../partials/head.ejs', {title: 'Todos los Usuarios'}) %> 
<body>
     
<!-- HEADER -->
<%- include('../partials/header.ejs') %> 
        

 <main class="register">
                     
    <form action="/user/register" method="POST" enctype="multipart/form-data"> <!-- JPP le agregue users a action tambien el enctype -->
        <div class="nombre-usuario-email">
            <div>
                <h2 class="nuevo-cliente">NUEVO CLIENTE</h2> 
            </div>

            <div>
                <label for="firts_name">Nombre</label>
                <input type="text" name="firts_name" placeholder="Ingresa Nombre">
            </div> 
            
            <div>
                <label for="last_name">Apellido</label>
                <input type="text" name="last_name" placeholder="Ingresa Apellido">
            </div>

            <div> <!-- JPP agregue users-image y type tipo file -->
                <label for="imagenUsers">Imagen de Usuario</label>
                <div>
                    <input type="file" name="imagenUsers" id="imagenUsers">
                </div>
            </div>

            
            <div>
                <label for="dni">Documento</label>
                <input type="text" name="dni" placeholder=" Ingresa Documento">
            </div>
            
            <div>
                <label for="email">Email</label>
                <input type="email" name="email" placeholder="Ingresa E-mail"> 
            </div>
            
            <div>
                <label for="pass">Contraseña</label>
                <input type="password" name="pass" placeholder="Elegí tu contraseña">
            </div>
            
            <div>
                <label for = "pass_confirm">Confirma Contraseña</label>
                <input type="password" name="pass_confirm" placeholder="Confirmá tu clave">
            </div>
            
            <div>
                <label for = "addres">Domicilio</label>
                <input type="text" name="addres" placeholder="Ingresa tu Domicilio">
            </div>                   
            
            <div>
                <label for="city">Ciudad</label>
                <input type="text" name="city" placeholder="Ingresa tu Ciudad">   
            </div>

            <button type="submit">Registrarse</button>
        </div>          
        

        
    </form>
</main>

        <%- include('../partials/footer')  %> 
    </body>
</html>