<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs', {title: 'Creacion de productos'}) %> 
<body>
    <%- include('../partials/header.ejs') %> 
    <main>
        <div class="contenedor-main-form">
            <form method="POST" action="/products" class="form-register" enctype="multipart/form-data">

                <h1>Formulario de creacion</h1>
                <h4>Nombre del Producto</h4>
                <div class="contenedor-form-nombre">
                <label for="name"></label>
                <input type="text" name="name" id="name" placeholder="Nombre del Producto" required="">
                </div>

                <h4>Microprocesador</h4>
                <div class="contenedor-form-nombre">
                <label for="cpu_name"></label>
                <input type="text" name="cpu_name" id="cpu_name" name="cpu_name" placeholder="Modelo CPU">
                </div>

                <h4>Water Cooler</h4>
                <div class="contenedor-form-nombre">
                <label for="wc_name"></label>
                <input type="text" name="wc_name" id="wc_name" placeholder="Modelo Water Cooler">
                </div>

                <h4>Motherboard</h4>
                <div class="contenedor-form-nombre">
                <label for="name"></label>
                <input type="text" name="mb_name" id="mb_name" placeholder="Modelo de MB">
                </div>

                <h4>RAM</h4>
                <div class="contenedor-form-nombre">
                <label for="name"></label>
                <input type="text" name="ram_name" id="ram_name" placeholder="Modelo de RAM">
                </div>

                <h4>SSD</h4>
                <div class="contenedor-form-nombre">
                <label for="name"></label>
                <input type="text" name="ssd_name" id="ssd_name"  placeholder="Modelo de SSD">
                </div>

                <h4>GPU</h4>
                <div class="contenedor-form-nombre">
                <label for="name"></label>
                <input type="text" name="gpu_name" id="gpu_name" placeholder="Modelo de GPU">
                </div>

                <h4>Fuente de alimentacion</h4>
                <div class="contenedor-form-nombre">
                <label for="name"></label>
                <input type="text" name="pws_name" id="pws_name" placeholder="Modelo de PWS">
                </div>

                <h4>Gabinete</h4>
                <div class="contenedor-form-nombre">
                <label for="name"></label>
                <input type="text" name="gab_name" id="gab_name" placeholder="Modelo de Gabinete">
                </div>
        
                <h4>Descripcion</h4>
                <div class="contenedor-form-descripcion">
                <label for="description"></label>
                <textarea name="description" id="description" class="form-input"></textarea>
                </div>

                <h4>Categoria</h4>
                <div class="contenedor-form-categoria">
                <div class="label-box">
                    <select name="category" id="category" class="form-input">
                        <option value="PCGAMER">PC GAMER</option>
                        <option value="notebooks">Notebooks</option>
                        <option value="CPU">Microprocesador</option>
                        <option value="MB">Motherboard</option>
                        <option value="RAM">Memorias RAM</option>
                        <option value="SSD">Discos SSD</option>
                        <option value="GPU">Placas de video</option>
                        <option value="PWS">Fuentes de alimentacion</option>
                        <option value="PWS">Gabinetes</option>
                        <option value="WATER-COOLER">Water Cooler</option>
                    </select>
                </div>
                </div>


                <h4>Precio</h4>
                <div class="contenedor-form-precio">
                <label for="precio"></label>
                <input type="number" name="precio_producto" id="precio" placeholder="Precio del Producto" required="">
                </div>

                <h4>Descuento base</h4>
                <div class="contenedor-form-precio">
                <label for="precio"></label>
                <input type="number" name="precio_producto" id="precio" placeholder="Precio del Producto" required="">
                </div>

                <div class="contenedor-form-imagen">
                    <h4>Subir una imagen del producto:</h4>
                    <label for="imagen-producto" class="form-label"></label>
					<input name="imagen-producto" type="file" id="imagen-para-subir" >
                </div>
           
                <div class="contenedor-form-botones">
                <button type="submit">Enviar</button>
                <button type="reset">Borrar datos</button>
                </div>
                
            </form>

        </div>


    </main>
    <%- include('../partials/footer')  %> 
</body>
</html>