<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs', {title: 'Creacion de productos'}) %> 
<body>
    <%- include('../partials/header.ejs') %> 
    <main>
        <div class="contenedor-main-form">
            <h2 class="titulo-categoria-form">Seleccione una categoria para continuar</h2>
            <div class="contenedor-botones-categorias">
            <div class="contenedor-boton-cat">
                <a href="./create/createProduct-pc_gamer">
                    <button class="boton-form-categoria">PC COMPLETA</button>
                </a> 
            </div>    

            <div class="contenedor-boton-cat">
                <a href="./create/createProduct-notebooks">
                    <button class="boton-form-categoria">NOTEBOOKS</button>
                </a> 
            </div>  

            <div class="contenedor-boton-cat">
                <a href="./create/createProduct-componentes">
                    <button class="boton-form-categoria">COMPONENTES</button>
                </a> 
            </div>  
            
            </div>
        </div>
    </main>
    <%- include('../partials/footer')  %> 
</body>
</html>