<!DOCTYPE html>
<html lang="en">
<!-- HEAD -->
<%- include('../partials/head.ejs', {title: "Carrito de Compra"}) %> 
<script src="/js/carritoGet.js"></script> 
<body>
     
<!-- HEADER -->
<%- include('../partials/header.ejs') %> 
    
   

    <main>
        <section class="carritoCompra">
        
        <h1>Carrito de Compras</h1>

        <h2>Descripción de tu Pedido</h2>
        
        <div class="contCarritoPadre">
        <div id="contArticles"class="contArticles">

            <!-- ACA VA EL APPEND -->

        </div>       
    
        <section class="resumenCompra">
            <h2>Resumen de tu Compra</h2>
            <h3>Total:</h3>
            <h3 id="totalCompra"></h3>
            <div class="endAddCompra">
            <a id="btnEnd"class="btnEndAdd" href="/">Finalizar Compra</a>
            <a id="btnAdd"class="btnEndAdd" href="/products">Agregar más Productos<a>   
            </div>
        </section>
     </div>  
        
    




    </main>
        
    <%- include('../partials/footer')  %> 
    
</body>
</html>